.reference-sequence {
    background: #f2f2f2;

    &.fixed-position {
        position: fixed;
        top: 46px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 1076px;
    }
}


.element {
    display: flex;
    padding: 10px 0 0px;
    align-items: center;
    .scrollable-list {
        max-height: 67px;
        margin-left: 80px;
        margin-bottom: 10px;
        margin-top: -20px;
        border: 1px solid #d2d2d2;
        padding: 3px 10px;

        &.shading {
            overflow-y: scroll;
            background: linear-gradient(white, 90%, #ddd);
        }
    }
    &.reference-sequence {
        .motif-element {
            svg {
                max-height: 50px;
            }
        }
        .sub-text {
            font-weight: 600;
        }
    }
    .motif-element {
        flex: 0 0 60%;
        svg {
            width: 100%;
            max-width: 100%;
            max-height: 100px;
            .domain {
                display: none;
            }
            line {
                display: none;
            }
            text {
                font-size: 16px;
            }
        }
    }
    .motif-description {
        flex: 0 0 40%;
        padding-left: 10px;
        text-align: left;
        @media screen and (max-width: $screen-md-min) {
            overflow-x: scroll;
        }
        &.reference-sequence {
            font-size: 1.2rem;
            font-weight: bold;
        }
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 14px;
            .motif-label {
                font-weight: 300;
                margin-right: 5px;
            }
            .biosample-label {
                font-weight: 400;
            }
        }
        .motifs-list {
            margin-top: 7px;
        }
        .icon-minus-circle, .icon-plus-circle {
            color: #9F9F9F;
        }
        &.shortened-description {
            .motif-label {
                display: none;
            }
        }
    }
    border-bottom: 1px solid #ccc;
    &:first-child {
        border-top: 1px solid #ccc;
    }
}

.motif-count {
    margin-top: -20px;
    padding-bottom: 20px;
}
