// Override Bootstrap default variables:

$screen-md:                                 960px;
$screen-lg:                                 1160px;
$border-radius-base:                        3px;
$border-radius-large:                       4px;
$border-radius-small:                       2px;
$input-border-radius:                       3px;
$grid-float-breakpoint:                     $screen-md;
$navbar-height:                             40px;
$navbar-inverse-link-active-bg:             #4E7294;//darken($navbar-inverse-bg, 10%)
$navbar-inverse-toggle-hover-bg:            #032500;
$navbar-inverse-toggle-border-color:        #032500;
$headings-font-weight:                      bold;
$grid-gutter-width:                         20px;

$brand-warning: #E59545;
$brand-success: #4C994C;
$brand-danger: #B24342;
$brand-info: #4F689E;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/labels";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/panels";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";

// ENCODED
// Font Awesome
@import "fontawesome/font-awesome";

// ENCODE Project styles & mixins
@import "encoded/mixins-custom";
// SMACSS-based architecture (http://smacss.com/)
@import "encoded/base";
@import "encoded/math";
@import "encoded/layout";
@import "encoded/bootstrap-lib";
@import "encoded/modules/regulome_search";
@import "encoded/modules/regulome_details";
@import "encoded/modules/regulome_summary";
@import "encoded/modules/regulome_motifs";
@import "encoded/modules/regulome_help";
@import "encoded/modules/navbar";
@import "encoded/modules/genome_browser";
@import "encoded/state";
@import "encoded/theme";

// Utility classes - Bootstrap 3, keep last
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
